/* =========================
   COLORES
========================= */

$color-fondo: #3e2f2f;
$color-principal: #ffffff;
$color-secundario: #d6ccc2;
$color-precio: #6b705c;
$color-productos-bg: #f5f3ef;

/* =========================
   ESPACIADOS
========================= */

$espacio-grande: 60px;
$espacio-medio: 40px;
$espacio-chico: 20px;

/* =========================
   SOMBRAS
========================= */

$sombra-suave: 0 5px 15px rgba(0, 0, 0, 0.08);
$sombra-media: 0 10px 20px rgba(0, 0, 0, 0.15);
