
@mixin boton-base {
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; 
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

